<div class="large-6 columns index-links">
  <%= link_to "Your Profile", profile_path(current_user)%>
</div>

<div class="large-6 columns index-links">
  <%= link_to "Find Friends", profile_path(@random_user)%>
</div>
