<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <div class="github-login">
    <%= button_to omniauth_authorize_path(resource_name, provider), class:"button large" do%>
      <i class="fa fa-github"></i>
      Sign in with GitHub
    <% end %>
    <br />
  </div>
  <% end -%>
<% end -%>
