
<div class="show users">
    <% @user_search.each do |user| %>

    <% unless user == current_user %>
      <ol>
      <h1><%= link_to user.name, user_path(user) %></h1>
          <%= image_tag(user.avatar_url) %>

      </ol>
      <% end %>

  <% end %>
</div>
