<div class="container large-10 columns">
    <br>
    <% if !@user_search == [] %>
    <div class="row">
       <div class="text-center">
        <div class="wrap">
            <div id="tinderslide">
                <ul>
                    <%= render @user_search %>
                </ul>
            </div>
            <div class="actions">
              <a href="#" class="dislike"><i class="fa fa-times"></i></a>
              <a href="#" class="like" style="float: right;"><i><%= image_tag("git-pull-request-white.png", size: "50", style: "padding-bottom: 20px;") %></i> </a>
            </div>
        </div>
       </div>
    </div>
    <script type="text/javascript">
  $("#tinderslide > ul li").tsort({attr: "id"});
</script>
    <% else %>
    <div class="unfortunate-situation">
      <h1>No Matches Found.</h1>
      <h3>Update your preferences or checkback later.</h3>
    </div>
    <% end %>

</div>


<div class="spinner center_spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>


