<div class="index">
  <div class="large-8 columns index-about"><h1>Hey,</h1><p>
  Buildur was created for developers, exclusively. Build a profile, match up with other buildurs based on your preferences then build out your ideas together. It leverages GitHub's API to provide developers with a dead simple access point that also provides a ton of dynamic information to populate their profile.
    </p>
    <br>
    <p>
After signing in, you’ll start by filling out your profile. Finished and ready to find some kick-ass developers to collaborate with? Good.
    </p>
    <p>
When you click on “Discover”,  my algorithm calculates (based off of your preferences) the most likely matches and displays them on your screen; it’s simple, quick and fun. If you like what you see, send a pull request to add them as a friend. If they decide to merge you in you’ll both be able to start a conversation using the built in chat feature. The whole point is to introduce you to other developers and build relationships based off of similar interests.
    </p>

  <h3>Tim</h3>
  <a href="https://github.com/timchepeleff">
  <i class="fa fa-github"></i></a>
  <a href="https://twitter.com/timchep">
  <i class="fa fa-twitter"></i></a>
  <a href="https://linkedin.com/in/timchepeleff">
  <i class="fa fa-linkedin"></i></a>
  </div>

  <div class="index-image">
    <%= image_tag "buildur-index.png", size: "600" %>
  </div>

  <div class="large-12 columns index-start"><%= link_to users_path do %>
    <h1><i class="fa fa-play fa-2x"></i>Start Building</h1>
  <% end %>
  </div>
</div>
