
      <div class='logo_holder__rotate'>
        <%= image_tag 'buildur-logo.png', size:"800" %>
      </div>
      <div class='logo_holder__text'>
        <h2>Sign in with GitHub to get started.</h2>
      </div>

      <nav>
        <%= render "devise/shared/links" %>
      </nav>


