<div class='logo_holder_rotate'>
  <%= image_tag 'buildur-index.png', size:"500" %>
</div>
<div class='logo_holder_text'>
  <h2>Sign in with GitHub to get started.</h2>
</div>

<nav>
  <%= render "devise/shared/links" %>
</nav>


