
<div class='logo_holder'>
  <%= image_tag 'buildur-logo.png', size:"600" %>
</div>
<div class='logo_holder_text'>
  <h2>Sign in with GitHub to get started.</h2>
</div>

<nav>
  <%= render "devise/shared/links" %>
</nav>


