// @import url(//fonts.googleapis.com/css?family=lato:300,400,700);
// @import url(//fonts.googleapis.com/css?family=raleway:500);
// @import url(https://raw.github.com/fortawesome/font-awesome/master/docs/assets/css/font-awesome.min.css);
// @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

$primary-purple: #5c3370;
$secondary-red: #893b64;
$secondary-purple: #483973;

$background: #ebe6e0;
$red-background: #f0e9ec;

// @import url(https://fonts.googleapis.com/css?family=varela+round);

$font-family-sans-serif: "varela round", sans-serif;
// color variables

//colors
$blue: #0088cc;

//fonts
$font_0: raleway;
$font_1: sans-serif;


@media #{$medium-up} {
  body {
    padding-left: 250px;
  }
}

@media #{$small-only} {
  .site-container {
    padding-bottom: 150px;
  }
}
body {
  font-family: $font_0, $font_1;
  background: $background;
  // background: radial-gradient(ellipse at center, $color_steel_gray_approx 0, $color_hunter_green_approx 100%);
  color:  $secondary-red;
  a {
    color: $secondary-red;
    font-family: $font_0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $secondary-red;
    opacity: 0.8;
    font-family: $font_0;
  }

  p {
    color: $secondary-red;
    opacity: 0.8;
    font-family: $font_0;
  }
}

h2:hover {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.5s ease-in;
  opacity: 0.9;
}
h3:hover {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.5s ease-in;
  opacity: 0.9;
}

label:hover {
  transition: all 0.5s ease-in;
  opacity: 0.9;
}

.user-portfolio-name {
  padding: 0;
  text-align: center;
  background-color: #F3F3F3;
  margin-bottom: 35px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #D8D8D8;
  border-bottom: none;
  img {
    float: left;
    padding-top: 10px;
  }
}

.name-color {
  background: $red-background;
  height: 12px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.project-header {
  background-color: #F3F3F3;
  border-radius: 5px;
  margin-bottom: 35px;
  margin-top: 20px;
  text-align: center;

  h1 {
    padding-right: 15px;
  }

  a {
    float: left;
  }

  p {
    float: left;
    font-size: 20px;
    padding-top: 20px;
  }
}

.remember-me-field {
  label {
    font-size: 20px;
  }
}

.profile-pic {
  img {
    height: 300px;
    width: 300px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 40em) {
  .name img {
    height:35px;
    margin-top:5px;
    margin-left:5px;
  }
}

.name img {
  margin-left:20px;
}

.index-links {
  text-align: center;
  a {
    text-align: center;
    top: 500px;
    position: relative;
    font-size: 3em;
    color: $accent-blue;
  }
}

.profile-field-about {
  textarea {
    height: 150px;
  }
}

.website-example-img {

}

.reveal-modal {
  h4 {
    color: black;
  }
}

.chart-container {
  padding: 0;
  margin: 0;
}

.spacer {
  padding-left: 5px;
}

.github-login {
  a {
    font-size: 20px !important;
    opacity: 1.0 !important;
  }
}

.center_spinner {
  width: 100px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -30px;
}

.spinner {
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  height: 100%;
  width: 6px;
  display: inline-block;
  background-color: #FC6D5C;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.bg-dark {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}

.wrap {
  height: 400px;
  padding: 15px;
  width: 100%;
}

// side nav

@media #{$small-only}  {
  .fa {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    font-size: 70px;
  }

  .main-menu {
    background: #fbfbfb;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 100px;
    z-index: 1000;
    margin-top: 200px;
    ul {
      float:left;
    }
    li {
      list-style: none;
      display: inline-block;
      text-align: center;
    }
    img {
      height: 100px;
      width: 250px;
    }
  }
  .logout li {
    margin: 0;
    padding-left: 10px;
    padding-top: 15px;
  }

  .logout {
    float: right;
  }

  .nav-text {
    display: none;
  }
  .nav-profile-image {
    text-align: center;

    img {
      border-radius: 100px;
      height: 70px;
      width: 70px;
    }
  }
}

@media #{$medium-up} {
  .fa-2x {
    font-size: 2em;
  }

  .main-menu:hover,nav.main-menu.expanded,  {
    width: 250px;
    overflow: visible;
  }

  .main-menu {
    background: #fbfbfb;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 250px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;

    .fa {
      position: relative;
      display: table-cell;
      width: 100px;
      height: 100px;
      text-align: center;
      vertical-align: middle;
      font-size: 50px;
    }
  }

  .main-menu>ul {
    margin: 7px 0;
  }

  .main-menu li {
    position: relative;
    display: block;
    width: 250px;
  }

  .main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

  }

  .main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 50px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }

  .main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: $font_0, sans-serif;
  }

  .main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .no-touch .scrollable.hover {
    overflow-y: hidden;
  }

  .no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
  }

  a:hover,a:focus {
    text-decoration: none;

  }

  nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  nav ul,nav li {
    outline: 0;
    margin: 0;
    padding: 0;
  }
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color: $secondary-red;
    background: $red-background;
  }

  .nav-profile-image {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    a {
      width: 250px;
      height: 100px;
    }
    img {
      margin-left: 12px;
      margin-top: 20px;
      position: relative;
      vertical-align: middle;
      border-radius: 100px;
    }
    span {
      padding-right: 50px;
    }
  }
}

// search bar

.search {
  input[type="search"]{
    border: none;
    shadow: none;
    box-shadow: none;
    color: #ebe6e0;
  }
  input[type="text"] {
    height: 60px;
    font-size: 45px;
    display: inline-block;
    font-family: $font_0;
    font-weight: 100;
    border: none;
    outline: none;
    padding: 3px;
    padding-right: 60px;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    box-shadow: none !important;
  }

  input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
  }

  input[type="text"]:focus {
    width: 400px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
  }
  input[type="submit"] {
    height: 60px;
    width: 55px;
    display: inline-block;
    color:red;
    float: right;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
  }

  input[type="submit"]:hover {
    opacity: 0.8;
  }

}

.show-container {
  background: #fff;
  -webkit-box-shadow: 3px 3px 24px 4px rgba(162,162,162,1);
  -moz-box-shadow: 3px 3px 24px 4px rgba(162,162,162,1);
  box-shadow: 3px 3px 24px 4px rgba(162,162,162,1);
  border-radius: 5px;
  padding: 0 0 20px 0;
}

.panel {
  background: #F3F3F3;
}

.exp-chart {
  h1 {
    width: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 40px; /* arbitrarily large letter-spacing for safety */
    word-wrap: break-word;
  }
}

.about {
  margin-top: 35px;
}

.index-image {
  img{
    position: fixed;
    left: 30%;
    top: 30%;
    opacity: 0.07;
  }
}

.index-about {
  padding-top: 250px;
  p {
    wrap: break-word;
    color: black;
    padding-left: 5px;
  }
  a {
    display: inline-block;
  }
  .fa {
    font-size: 30px;
  }
}

.index-start {
  padding: 20px 0  0;
  i {
    font-size: 60px;
    padding-top: 15px;
    padding-right: 20px;
    display: inline-block;
    opacity: 1;
  }
  h1 {
    font-size: 60px;
    overflow: show;
    opacity: 1;
    padding-left: 20px;
  }
}

.site-container {
  padding-top: 20px;
  .index{
    padding-top: -100px;
    margin-top: -100px;
    padding-left: -100px;
  }
}



.notice_wrapper {
  position: absolute;
  top: 10px;
  left: 0;
  margin: 0 !important;
  z-index: 2000;
  width: 100%;
  background: rgba(137, 59, 100, 0.7);
  .notice, .alert {
    padding: 2rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
  }
}

#show-pull-request {
  background-color: rgba(131, 213, 102, 0.8);
  img {
    margin-left: 30px;
    margin-top: 20px;
  }

  :hover {
    background-color: rgba(131, 213, 102, 0.92);
  }
}

.discover {
  span {
    padding-left: 5px;
    font-size: 18px;
  }
}

.pull-request {
  right: 0;
}
