#tinderslide {
  width: 1000px;
  height: 550px;
  margin: auto;
  background-color: $background;
  margin-top: 100px;

  img {
    float: left;
    margin: 20px 20px 0 20px;
    border-radius: 10px;

    -webkit-box-shadow: 2px 2px 15px 2px #a2a2a2;
    -moz-box-shadow: 2px 2px 15px 2px #a2a2a2;
    box-shadow: 2px 2px 15px 2px #a2a2a2;
  }

  li {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
    padding: 0 0 30px 0;
    background: #FFF;
    border-radius: 5px;
    z-index: 0;
  }
}

.actions a i {
  font-size: 40px;
}

.actions a {
  background-color: white;
  background-image: none;
  margin: 15px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 10px solid #e8e8e8;
  box-shadow: none;
}

.u-full-prof {
  float: right;
  padding-top: 40px;
}

.actions .dislike i {
  font-size: 50px;
  color: #fc6d5c;
}

.actions .dislike {
  line-height: 120px;
}

.actions .like {
  line-height: 120px;
  background-color: #83D566;
}

.actions .like:hover {
  background-color: #60C13D;
}

.actions .like i {
  color: #5adfa1;
}

.actions {
  width: 1000px;
  align: center;
}

.left-tinder-box {
  padding-left: 0;

  img {
    width: 410px;
    height: 410px;
  }

  h1 {
    overflow: auto;
    min-width: 410px;
    max-width: 410px;
  }
}

.u-name {
  height: 140px;
  margin-left: 21px !important;
  margin-top: 20px;
}

.u-about{
  h1 {
    text-align: center;
  }

  p{
    text-align: left;
  }
}

.unfortunate-situation {
  padding-top: 40%;
  padding-left: 20%;

  h3 {
    color: #A7A7A7;
  }
}
