<li id="1">
    <div class="large-12 columns">Welcome to Buildur.</div>
    <div class="large-6 columns left-tinder-box">
      <div class="u-name pull-left">
      </div>
    </div>
    <div class="large-6 columns u-about">
    </div>
    <div class="like">
    </div>
  <div class="dislike">
    </div>
</li>

