<div class="friendbox">
<div class="friendboxcontent">
      <%= render 'layouts/friends' %>
</div>



<div class="friendboxhead">
  <div class="friendboxtitle">
    <i class="fa fa-user"></i>
    <h1>Friends (<%= current_user.mutual_friends.count if current_user.mutual_friends %>)<span class="spacer"></span> Requests(<%= current_user.friend_requests.count if current_user.friend_requests %>)</h1>
  </div>
  <div class="friendboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleFriendBox" %>
  </div>
  <br clear="all"/>
</div>
</div>
