<nav class="top-bar" data-topbar>
              <ul class="title-area">
              </ul>
              <section class="top-bar-section">
                <!-- Right Nav Section -->
                <% if current_user %>
                  <ul class="right search">
                    <li>
                      <%= form_tag(users_path, method:"get") do %>
                      <%= text_field_tag(:query, nil, placeholder: "Search...", id: "search")%>
                      <%= submit_tag("Search", :id => "search_submit") %>
                      <% end %>
                    </li>
                  </ul>
                <%end%>
              </section>
            </nav>
